<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index3.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="index3"  class="active">Home</a>
                </li>
                <li>
                    <a href="index1" >Add-Expense</a>
                </li>
                <li>
                    <a href="index2">Watch-Expenses</a>
                </li>
                <li>
                    <a href="index4">Premium Features</a>
                </li>
                <li>
                    <a href="login">Log Out</a>
                </li>
             
            </ul>
        </nav>
    </header>
    <br><br>
    <br><br><br>

    <div id="welcomeMessage"></div>
     

    <section class="feature">
        <h2>Add Your Expenses</h2>
        <p>Easily track your expenses by adding them here.</p>
        <a href="index1">Go to Expense Tracker</a>
    </section>

    <section class="feature">
        <h2>Keep Tabs on Your Daily Expenditure</h2>
        <p>Stay Informed About Your Daily Expenses</p>
        <a href="index2">View now</a>
    </section>

    <section class="feature">
        <h2>Unlock Premium Features</h2>
        <p>Upgrade to access exclusive features for better expense management.</p>
        <a href="index4">Upgrade Now</a>
    </section>

    <!-- Log Out -->
    <a href="login" class="logout">Log Out</a>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

 
    

    <script src="/js/userName.js"></script>
    
    
    
</body>
</html>